@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");

body {
  font-family: "Nanum Myeongjo", serif;
  color: white;
  text-shadow: 1.5px 1.5px #576574;
  background-color: #2f3640;
}

h3 {
  text-align: center;
  font-size: 1.5rem;
}

.js-clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.time {
  font-size: 8rem;
  margin: 0 30px;
  text-shadow: 3px 2px #576574;
}

.amPm {
  font-size: 2rem;
}

.seconds {
  align-items: flex-end;
  font-size: 1.3rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

.js-weather {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  margin: 15px 5px;
  line-height: 25px;
  text-shadow: 0.5px 0.5px #576574;
}

.greetingForm,
.greeintg {
  display: none;
}

.showing {
  display: block;
}

.js-greeting {
  display: flex;
  justify-content: center;
  font-size: 1rem;
}
